<!DOCTYPE html>
<html>

<head>
    <!-- Site made with Mobirise Website Builder v4.11.6, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.11.6, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/wag-logo-268x124.png" type="image/x-icon">
    <meta name="description" content="Find some forms to help speed the consignment registration up">

    <title>Consignor Forms</title>
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="assets/soundcloud-plugin/style.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/animatecss/animate.min.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
    <style type="text/css">
        .form-style-1 {
            margin:10px auto;
            max-width: 400px;
            padding: 20px 12px 10px 20px;
            font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }
        .form-style-1 li {
            padding: 0;
            display: block;
            list-style: none;
            margin: 10px 0 0 0;
        }
        .form-style-1 label{
            color: white;
            margin:0 0 3px 0;
            padding:0px;
            display:block;
            font-weight: bold;
        }
        .form-style-1 input[type=text], 
        .form-style-1 input[type=date],
        .form-style-1 input[type=datetime],
        .form-style-1 input[type=number],
        .form-style-1 input[type=search],
        .form-style-1 input[type=time],
        .form-style-1 input[type=url],
        .form-style-1 input[type=email],
        textarea, 
        select{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            border:1px solid #BEBEBE;
            padding: 7px;
            margin:0px;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            outline: none;	
        }
        .form-style-1 input[type=text]:focus, 
        .form-style-1 input[type=date]:focus,
        .form-style-1 input[type=datetime]:focus,
        .form-style-1 input[type=number]:focus,
        .form-style-1 input[type=search]:focus,
        .form-style-1 input[type=time]:focus,
        .form-style-1 input[type=url]:focus,
        .form-style-1 input[type=email]:focus,
        .form-style-1 textarea:focus, 
        .form-style-1 select:focus{
            -moz-box-shadow: 0 0 8px #88D5E9;
            -webkit-box-shadow: 0 0 8px #88D5E9;
            box-shadow: 0 0 8px #88D5E9;
            border: 1px solid #88D5E9;
        }
        .form-style-1 .field-divided{
            width: 49%;
        }
        
        .form-style-1 .field-long{
            width: 100%;
        }
        .form-style-1 .field-select{
            width: 100%;
        }
        .form-style-1 .field-textarea{
            height: 100px;
        }
        .form-style-1 input[type=submit], .form-style-1 input[type=button]{
            background: #4B99AD;
            padding: 8px 15px 8px 15px;
            border: none;
            color: #fff;
        }
        .form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
            background: #4691A4;
            box-shadow:none;
            -moz-box-shadow:none;
            -webkit-box-shadow:none;
        }
        .form-style-1 .required{
            color:red;
        }
        </style>


</head>

<body>
    <section class="menu cid-rNhyNWbdoV" once="menu" id="menu1-3a">
        <nav
            class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="index.html">
                            <img src="assets/images/wag-logo-268x124.png" alt="World Auction Gallery" title=""
                                style="height: 3.8rem;">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4"
                            href="index.html">World
                            Auction Gallery</a></span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item dropdown"><a class="nav-link link text-white dropdown-toggle display-4"
                            href="consingors.html" data-toggle="dropdown-submenu" aria-expanded="false"><span
                                class="mbri-edit mbr-iconfont mbr-iconfont-btn"></span>
                            Consignors</a>
                        <div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="consingors.html"
                                aria-expanded="false">Consignor Information<br></a><a class="text-white dropdown-item display-4" href="cforms"
                                aria-expanded="false">Consignor Forms<br></a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link link text-white dropdown-toggle display-4"
                            href="bidders.html" data-toggle="dropdown-submenu" aria-expanded="false"><span
                                class="mbri-globe mbr-iconfont mbr-iconfont-btn"></span>
                            Bidders</a>
                        <div class="dropdown-menu"><a class="text-white dropdown-item display-4"
                                href="bidders.html">Bidder
                                Infomation</a><a class="text-white dropdown-item display-4"
                                href="bidders.html#content4-11" aria-expanded="false">Shipper Infomation</a><a
                                class="text-white dropdown-item display-4" href="bidders.html#content1-terms"
                                aria-expanded="false">Buyer's Terms</a><a
                                class="text-white dropdown-item display-4" href="bidders.html#toggle1-17"
                                aria-expanded="false">FAQ</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="auctionmain.html"
                            aria-expanded="true">
                            <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>Auctions</a></li>
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="contact.html"
                            aria-expanded="false"><span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                            Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <section class="cid-rNX37xKTO1 mbr-parallax-background" id="header2-2c">



        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

        <div class="container align-center">
            <div class="row justify-content-md-center">
                <div class="mbr-white col-md-10">
                    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">Consignment Form</h1>



                </div>
            </div>
        </div>

    </section>

    <section class="mbr-section content4 cid-rNX8U55lW5" id="content4-2s">



        <div class="container">
            <div class="media-container-row">
                <div class="title col-12 col-md-8">
                    <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Feel free to use the form below to leave an inquiry.</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section content4 cid-rNX9Ctvq1h" id="content4-2u">



        <div class="container">
            <div class="media-container-row">
                <div class="title col-12 col-md-8">

                    <form>
                        <ul class="form-style-1">
                            <li><label>Full Name <span class="required">*</span></label><input type="text" name="fname" class="field-divided" placeholder="First" /> <input type="text" name="lname" class="field-divided" placeholder="Last" /></li>
                            <li>
                                <label>Email <span class="required">*</span></label>
                                <input type="email" name="email" class="field-long" />
                            </li>
                            <li>
                                <label>Subject</label>
                                <select name="subject" class="field-select">
                                <option value="Consign">Consign</option>
                                <option value="Appraisal">Appraisal</option>
                                <option value="General Question">General</option>
                                </select>
                            </li>
                            <li>
                                <label>Your Message <span class="required">*</span></label>
                                <textarea name="message" id="field5" class="field-long field-textarea"></textarea>
                            </li>
                            <li>
                                <input type="submit" value="Submit" />
                            </li>
                        </ul>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section info1 cid-rNX5RG8k2i" id="info1-2i">




        <div class="container">
            <div class="row justify-content-center content-row">
                <div class="media-container-column title col-12 col-lg-7 col-md-6">
                    <h3 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-5">Need
                        assistance? Click <a href="consingors.html">here</a> for Consignment info</h3>
                    <h2 class="align-left mbr-bold mbr-fonts-style display-2">Or Contact Us</h2>
                </div>
                <div class="media-container-column col-12 col-lg-3 col-md-4">
                    <div class="mbr-section-btn align-right py-4"><a class="btn btn-primary display-4"
                            href="contact.html">Contact Us</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="cid-rNWAIzMDz2" id="footer1-22">
        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">
                        <a href="/">
                            <img src="assets/images/wag-logo-268x124.png" alt="World Auction Gallery" title="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Address
                    </h5>
                    <p class="mbr-text">228 East Meadow Avenue
                        <br>East Meadow, NY 11554</p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Contacts
                    </h5>
                    <p class="mbr-text">
                        Email: WorldAuctionGallery.com<br>Phone: <a href="tel:(516) 307-8180">(516) 307-8180</a><br>Fax:
                        <a href="tel:(516) 307-8179">(516) 307-8179</a>
                    </p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Links
                    </h5>
                    <p class="mbr-text"><a class="text-primary" href="consingors.html">Consignors</a>&nbsp;<br><a
                            class="text-primary" href="bidders.html">Bidders</a>&nbsp;<br><a class="text-primary"
                            href="contact.html">Contact Us</a></p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-sm-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">
                            © Copyright 2020 World Auction Gallery - All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href="https://instagram.com/worldauctiongallery" target="_blank">
                                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="assets/parallax/jarallax.min.js"></script>
    <script src="assets/dropdown/js/nav-dropdown.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/theme/js/script.js"></script>


    <input name="animation" type="hidden">
</body>

</html>